<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap" rel="stylesheet" />
    <title>ToastyRoast - Get roasted by AI!</title>
</head>

<body>
    <nav class="bg-white-800 flex flex-wrap items-center justify-between p-4 text-white">
        <div class="flex flex-shrink-0 items-center">
            <a href="/" class="text-xl font-bold text-orange-500" style="font-family: 'Libre Bodoni', serif;">
                ToastyRoast </a>
        </div>
        <div>
            <a href="/" class="rounded-md px-3 py-2 text-sm font-medium text-black hover:underline">Home</a>
            <a href="/faq" class="rounded-md px-3 py-2 text-sm font-medium text-black hover:underline">FAQ</a>
        </div>
    </nav>
    <div class="m-8">
        <p>Hmm... we encountered an <span class="text-orange-500">error</span>. We think that you might have uploaded an
            inappropriate photo, so go back home and try a different one.</p>
    </div>
    <noscript>
        <img src="https://shynet.radi8.dev/ingress/e0fd71bd-0199-422f-acf2-c9ad166bbf1b/pixel.gif">
    </noscript>
    <script defer src="https://shynet.radi8.dev/ingress/e0fd71bd-0199-422f-acf2-c9ad166bbf1b/script.js"></script>

</body>

</html>